/*
selector {
	property: value;
}
*/

body {
	background-image: url(https://images.unsplash.com/photo-1603707032686-333b8f97a52c?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NHx8bmF0dXJlJTIwYmFja2dyb3VuZHxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2000&q=60);
	background-size: cover;
}

h2 {
	color: #AA4139;
	text-align: center;
	border: 5px dashed rgba(255, 176, 170, 0.5);
	cursor: pointer;
}

p {
	color: pink;
}

p {
	color: green;
}

li {
	list-style: none;
	display: inline-block;
}