html, body {
	height: 99%;
}

body {
	font-family: arial;
	font-size: 14px;
	background-color: #DEDEDE;
	margin: 0;
}

#header1 {
	font-size: smaller;
	display: flex;
}

#header1 > div {
	background-color: #3D0858;
	padding: 0.5rem 1rem 0.5rem 1rem;
	display: inline-block;
	width: 100%;
}

#header1 > div.right {
	text-align: right;
}

span.link {
	margin-right: 0.75rem;
}

span.social-link {
	margin-left: 1rem;
	font-weight: bold;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#header2 {
	font-weight: bold;
	display: grid;
	grid-template-columns: 1fr 2fr 3fr;
}

#header2 > div {
	background-color: #500974;
	color: white;
	padding-left: 1em;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	width: 10%;
}

.logo h1 {
	text-transform: uppercase;
	font-size: 18px;
}

.gold {
	color: gold;
}

.remove-space {
	margin-right: -0.07em;
}

div.link-list {
	justify-content: flex-start !important;
}

.link-list > a {
	margin-right: 1rem;
}

div.identity {
	display: grid !important;
	justify-content: flex-end !important;
}

.sp-id {
	margin-left: -10.3em;
	background-color: #622282;
	height: 30px;
	width: 160px;
	text-align: center;
	line-height: 30px;
	margin-right: 1em;
	border-radius: 8px;
}

.content-body {
	background-color: #f0f1f1;
	margin: 2em;
	margin-top: 4em;
}